body {
  background-image: url("/assets/img/shapes.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-color: #f0f6fd;
  font-family: "Roboto Mono", monospace;
  color: #585857;
}

#emoji {
    display: inline;
    max-width: 70px;
    min-width: 15px;
    margin: 0;

}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.apresentation {
  width: 80vw;
  height: 70vh;
  margin: 8vh auto 5vh auto;
  padding: 50px;
  background-color: white;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  max-width: 30px;
  min-width: 30px;
  margin-right: 2px;
}

.button:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2.5vw 0;
}

.text-apresentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 4vw;
  text-align: left;
}

.text {
  font-size: 1vw;
  text-align: left;
  line-height: 1.5vw;
  max-width: 300px; 
  padding: 0;
}

#vania-rocket {
  display: flex;
  align-self: flex-end;
  width: 600px;
}

.socialmedia {
  text-decoration: none;
  color: inherit;
  outline: none;
  text-decoration: none;
  background-image: linear-gradient(
    rgba(175, 150, 236, 0.8),
    rgba(175, 150, 236, 0.8)
  );
  background-size: 100% 0.5em;
  background-repeat: no-repeat;
  background-position: left 0 bottom -40%;
}

.socialmedia:hover {
  background: #fbc7d4;
}

.title > span {
  display: block;
}


label {
  margin: 0 40px 0 0;
  display: none;
  width: 26px;
}

#toggle {
  display: none;
}



@media only screen and (max-width: 900px) {

  label {
    display: block;
    cursor: pointer;
  }
.nav {
  width: auto;
  float: right;
}

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
   
  }
.social-media a {
  border-bottom: 1px solid rgba(175, 150, 236, 0.8);
  margin: 0;
}

  .button{
    min-width: 10px;
    margin-right: 2px;
  }

#toggle:checked + .social-media {
  display: block;
}
}



@media only screen and (max-width: 1159px) {
    .apresentation {
      width: auto;
      height: auto;
      background-color: white;
      margin: 10vw;
      padding: 50px 80px;
    }
  
    .text-apresentation {
        display: flex;
        align-items: center;
    }
/*

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;
    }
  
    .button {
        min-width: 60px;
        margin-right: 2px;
      }
*/
    .title,
    .text {
      text-align: center;
      width: auto;
    }
  
    .title {
      font-size: 6vw;
      padding: 0 3vw;
    }
  
    .text {
      font-size: 2vw;
      line-height: 2.5vw;
      text-align: justify;
      justify-content: center;
      margin-bottom: 50px;
      max-width: -webkit-fill-available;
    }
  
    .content {
      display: flex;
      flex-wrap: wrap;
    }
  
    #vania-rocket {
      width: 80%;
    }
  }


@media only screen and (max-width: 1024px) and (min-width: 961px) {
  .apresentation {
    width: auto;
    height: auto;
    background-color:white;
  }

  /*
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }

  .button {
    min-width: 60px;
    margin-right: 2px;
  }
  */

  .title,
  .text {
    text-align: center;
    width: auto;
  }

  .title {
    font-size: 6vw;
    padding: 0 2vw;
  }

  .text {
    font-size: 3.5vw;
    line-height: 4.5vw;
    text-align: justify;
    justify-content: center;
    margin-bottom: 50px;
    max-width: -webkit-fill-available;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  #vania-rocket {
    width: 80%;
  }
}





/*@media only screen and (min-width: 401px) and (max-width: 960px) {
  .apresentation {
    width: auto;
    height: 700px;
    background-color: white;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }

  .button {
    margin-right: 2px;
    max-width: 20px;
    min-width: 20px;
  }

  .title,
  .text {
    text-align: center;
    width: auto;
  }

  .title {
    font-size: 6vw;
  }

  .text {
    font-size: 2vw;
    line-height: 2.5vw;
    justify-content: center;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  #vania-rocket {
    width: 50%;
    display: flex;
    align-content: center;
  }
}
